.googleEvent {
  display: block;
  font-weight: 500;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  & > span {
    margin-left: 1em;
  }
}
